<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITEMAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>quanmx.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>quanmx.listener.MyAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>quanmx.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>quanmx.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>quanmx.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>quanmx.controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAppController</servlet-name>
        <servlet-class>quanmx.controller.StartAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>quanmx.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>quanmx.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingPageController</servlet-name>
        <servlet-class>quanmx.controller.ShoppingPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>quanmx.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductFromCart</servlet-name>
        <servlet-class>quanmx.controller.RemoveProductFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>quanmx.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountController</servlet-name>
        <servlet-class>quanmx.controller.CreateNewAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAppController</servlet-name>
        <url-pattern>/StartAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingPageController</servlet-name>
        <url-pattern>/ShoppingPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductFromCart</servlet-name>
        <url-pattern>/RemoveProductFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountController</servlet-name>
        <url-pattern>/CreateNewAccountController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DataSourceAhihi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
